* {
    padding: 0;
    margin: 0;
}

ul {
    margin : 0;
    padding: 0;

}
li{
    list-style-type: none;
 }

p,h1{
	color: #666;
}

h1{
	margin: 5px 0 20px 0;
}

p{
	margin: 10px 0px;
	font-size: 90%;
	line-height: 18px;
}

a{
	color:#C50E1F;
	text-decoration:none;	
}
a:hover{
	text-decoration:underline;	
}

.center{text-align:center;}
.hidden{display:none;}

#error-msg {
		position:fixed;
		bottom:0px;
		left:0px;
		z-index:11000;
		width:100%;
		padding: 3px 0px;
		line-height:40px;
		background-color: #C50E1F;
		color: white;
		text-align:center;
		letter-spacing: 0.5px;
		display:none;
}

.form-error {
    text-align: center;
    color: red;
}

.login-error {
    text-align: center;
    color: red;
}

.stdbutton {
    cursor: pointer;
    border: 1px solid #98A3A6;
    padding: 2px 33px 2px 4px;
    font-size: 20px;
    color: #C50E1F;
    font-family: 'Segoe UI WPC','Segoe UI',Tahoma,'Microsoft Sans Serif',Verdana,sans-serif;
    display: block;
    margin: 20px auto;
    width:100%;
}

@media all and (min-width: 1100px){

body {
    /*background-color:  #f2f2f2;*/
    font: 0.8em/1.6em "Helvetica Neue",Helvetica,Arial,FreeSans,sans-serif;
    font-size: 100%;
    background-color: #F5F5F5 !important;
    color: #000;
    height: 100%;
    background: url('/idp/images/tub/bg_342x1_555555.png');
    background-repeat: repeat-y ;
    display:block;
    padding: 0px 20px;
}

div.bg_bogen {
    z-index:-1;
    position:absolute;
    top:134px;
    left: 0px;
    width:342px;
    height:242px;
    background:url('/idp/images/tub/bg_bogen.png');
    float:left;
}

div.sidebar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    width: 342px;
    background-color: #555555;
    z-index: -1;
}

div.contentContainer {
    padding-left: 404px;
}

div.box-centering {
    position:relative;
    z-index:999;
    font-size: 100%;
    max-width: 1000px;
    width : max-content; 
    min-width: 300px;
    margin: 134px auto 0px auto;
    padding: 10px 30px;
    background-color:  #EAEAEA;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #777;
    box-shadow: none;
    overflow:visible;   
}


div.header {
    // background-image:  url('/idp/images/tub/mail_tub.png') ;
    // background-position: center;
    // background-repeat: no-repeat;
    width:100%;
    height:75px;
}
form {
    padding:0 0 0 0;
    text-align:center;
}

form.loginx {
    text-align:center;
    position:relative;
    z-index:999;
    font-size: 100%;
    height: auto;
}

div.user-input {
    margin: 0px 20px;
    text-align:left;
}

form label {
    text-align : right;
    font-weight: normal;
    font-size: 80%;
    color: #666;
    font-family: 'Segoe UI WPC','Segoe UI',Tahoma,'Microsoft Sans Serif',Verdana,sans-serif;
}

input[type=radio]{
	width: inherit;
	min-height: inherit;
	background-color: inherit;
}

form input, button {
    min-height: 2em;
    padding: 0 5px;
    font-family: 'Segoe UI WPC','Segoe UI',Tahoma,'Microsoft Sans Serif',Verdana,sans-serif;
    font-size: 80%;
    font-weight: normal;
    background-color: #fff; 
    border: 1px solid #98A3A6;
    color: #333;    
    margin-bottom: .5em;
    width: calc(100% - 12px);
}

 form input:focus {
    background-color: #fff;
    border-color: #000;
}

 div.box-centering  label {
    font-weight: normal;
    font-size: 90%;
    width:100%;
    color: #666;
    font-family: 'Segoe UI WPC','Segoe UI',Tahoma,'Microsoft Sans Serif',Verdana,sans-serif;
}

/* submit button */

 .submit-button {
    cursor: pointer;
    background-image: url("/idp/images/tub/locked-inv.png");
    background-position: 95% center, left top;
    background-repeat: no-repeat;
    border: 1px solid #98A3A6;
    padding: 2px 33px 2px 4px;
    font-size: 22px;
    color: #C50E1F;
    font-family: 'Segoe UI WPC','Segoe UI',Tahoma,'Microsoft Sans Serif',Verdana,sans-serif;
    display: block;
    margin: 1em 0 1em auto  ;
    width: auto;
}
.submit-button.align-left{
	margin: 1em 0 1em;
}

} /*@media all and (min-width: 600px){*/

@media all and (max-width: 1099px){
	p{
		margin: 10px 0px;
		font-size: 80%;
		line-height: 16px;
	}
	#error-msg{
		line-height: 20px;
		top:0px;
		bottom:inherit;
		left:0px;
	}
		
    body {
        background: none;
        background-color: #F5F5F5 !important;
        font-family: 'Segoe UI WPC','Segoe UI',Tahoma,'Microsoft Sans Serif',Verdana,sans-serif;
        padding: 0px 10px;
    }

    div.bg_bogen {
        background:none;
    }
    div.box-centering{
        position:relative;
        z-index:999;
        font-size: 100%;
        margin: 25px;
        padding: 10px 10px;
        background-color:  #EAEAEA;
        border-radius: 25px;
        border-style: solid;
        border-width: 2px;
        border-color: #777;
        overflow:visible;   
    }
	
    div.header {
    	text-align: center;
    	margin-bottom:20px;
    }    
    div.header:after {
        content:"E-MAIL TU BERLIN";
        color: #c50e1f;
        font-weight:bold;
        font-size: 150%;
    }
     form label {
        text-align : right;
        font-weight: normal;
        font-size: 80%;
        color: #666;
        font-family: 'Segoe UI WPC','Segoe UI',Tahoma,'Microsoft Sans Serif',Verdana,sans-serif;
    }
    input[type=radio]{
		width: inherit;
		min-height: inherit;
		background-color: inherit;
	}
     form input {
        min-height: 2em;
        padding: 0 5px;
        font-family: 'Segoe UI WPC','Segoe UI',Tahoma,'Microsoft Sans Serif',Verdana,sans-serif;
        font-size: 80%;
        font-weight: normal;
        background-color: #fff  !important ; 
        border: 1px solid #98A3A6;
        color: #333;    
        margin-bottom: .5em;
        width: calc(100% - 12px);
    }

	form input:focus {
        background-color: #fff;
        border-color: #000;
    }
    .submit-button {
        cursor: pointer;
        background-image: url("/idp/images/tub/locked-inv.png");
        background-position: 95% center, left top;
        background-repeat: no-repeat;
        border: 1px solid #98A3A6;
        padding: 2px 33px 2px 4px;
        font-size: 20px;
        color: #C50E1F;
        font-family: 'Segoe UI WPC','Segoe UI',Tahoma,'Microsoft Sans Serif',Verdana,sans-serif;
        display: block;
        margin: 20px auto;
        width:100%;
    }
}

